*{
    padding: 0;
    margin:  0;
}
header{
    background-color: white; padding: 22px 0;
}
.container{
    max-width: 1240px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-left: 32px;
    margin-top: 14px;
    display:inline-block;
}
.list{
    display: flex; list-style: none
}
.item{
    margin-right: 32px;
    margin-top: 14px;
}
.subtitle{
    font-family: 'Poppins';
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #1B1A1A;
}
.subtitle1{
    padding: 11px 20px 11px 20px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background-color: #1B1A1A;
    border-radius: 14px;
}
section{
    background: #ECE7E4;
    box-sizing:border-box;
    padding-top: 137px;
    padding-bottom: 128px;
    background-image:url('../images/back.jpg');
    background-position: right;
    background-repeat: no-repeat;
}
.box{
    max-width: 1240px;
    margin: auto;
}
.excerpt{
    max-width: 509px;
}
.slogan{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55; margin-bottom: 20px;
}
.caption{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A; margin-bottom: 18px;
}
.paragraph{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B; margin-bottom: 41px;
}
.link{
    display: inline-block;font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    text-decoration: none;
    margin-left: 25px;
}
.section2{
    background: #CEC4BC;
    border-radius: 0px;
    padding-top: 113px;
    padding-bottom: 117px;
}
.holder{
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    align-items: center;
}
.headline{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}
.text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #1B1A1A;
}
.link1{
    display: inline-block;text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;margin-left: 156px;
}
footer{
    padding-top: 62px;
    padding-bottom: 60px;
}
.logo1{
    display: inline-block;
    margin-bottom: 20px
}
.lead{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #645C55;
}
.list1{
    margin-top: 60px;
}
.item1{
    margin-bottom: 2px;
    display: inline-block;
}
.item2{
    margin-left: 20px;
    display: inline-block;
}
.item3{
    margin-left: 26px;
    display: inline-block;
}