*{
    padding: 0;
    margin:  0;
}
header{
    background-color: white; padding: 22px 0;
}
.container{
    max-width: 1240px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-left: 32px;
    margin-top: 14px;
    display:inline-block;
}
.list{
    display: flex; list-style: none
}
.list:hover{

}
.item{
    margin-right: 32px;
    margin-top: 14px;
}
.subtitle{
    font-family: 'Poppins';
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #1B1A1A;
}
.subtitle1{
    padding: 11px 20px 11px 20px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background-color: #1B1A1A;
    border-radius: 14px;
}
section{
    background: #ECE7E4;
    box-sizing:border-box;
    padding-top: 137px;
    padding-bottom: 128px;
    background-image:url('../images/back.jpg');
    background-position: right;
    background-repeat: no-repeat;
}
.box{
    max-width: 1240px;
    margin: auto;
}
.excerpt{
    max-width: 509px;
}
.slogan{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55; margin-bottom: 20px;
}
.caption{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A; margin-bottom: 18px;
}
.paragraph{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B; margin-bottom: 41px;
}
.link{
    display: inline-block;font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    text-decoration: none;
    margin-left: 25px;
}
.our_process{
    padding-top: 100px;
    padding-bottom: 134px;
    background: white;
}
.process{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}
.what_we_do{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    text-align: center;
    color: #1B1A1A;
    padding-bottom: 47px;
}
.main_process{
    max-width: 1240px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    padding-bottom: 134px;
}
.icon{
    text-align: center;
    max-width: 294px;
    padding-left: 40px;
}
.our_process h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #403E3B;
}
.our_process p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #645C55;
}
.building{
    text-align: center;
    max-width: 292px;
    padding-left: 40px;
}
.financing{
    text-align: center;
    max-width: 285px;
    padding-left: 40px;
}
.our_process img{
    max-width: 117px;
    padding-left: 85px;
}

.section2{
    background: #CEC4BC;
    border-radius: 0px;
    padding-top: 113px;
    padding-bottom: 117px;
}
.holder{
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    align-items: center;
}
.headline{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}
.text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #1B1A1A;
}
.link1{
    display: inline-block;text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;margin-left: 156px;
}
footer{
    padding-top: 62px;
    padding-bottom: 60px;
}
.logo1{
    display: inline-block;
    margin-bottom: 20px
}
.lead{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #645C55;
}
.list1{
    margin-top: 60px;
}
.item1{
    margin-bottom: 2px;
    display: inline-block;
}
.item2{
    margin-left: 20px;
    display: inline-block;
}
.item3{
    margin-left: 26px;
    display: inline-block;
}
.owl-stage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.owl-nav .owl-prev{
    position: absolute;
    left: 0;
    top: 30px;
}
.owl-nav .owl-prev::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f053";
    font-size: 30px;
    color: black;
}
.owl-nav .owl-next{
    position: absolute;
    right:40px;
    top: 30px;

}
.owl-nav .owl-next::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f054";
    font-size: 30px;
    color: black;
}
